# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
# Your code here
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
print("The variable type of file1 is: ",type(data))
print()

print("This is the size of your pandas DataFrame: ",data.shape)
print("In other words, your DataFrame has {} rows and {} columns".format(data.shape[0], data.shape[1]))

The variable type of file1 is:  <class 'pandas.core.frame.DataFrame'>

This is the size of your pandas DataFrame:  (4008, 11)
In other words, your DataFrame has 4008 rows and 11 columns

In [8]:
data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [9]:
display(data.head())

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [10]:
display(data.tail())

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = pd.DataFrame(data)
current_data_types = df.dtypes

# Print the current data types
print("Current Data Types:")
print(current_data_types)

# Evaluate and suggest changes if needed
for column_name, dtype in current_data_types.items():
    if dtype == 'object':
        print("Column '"+ column_name +"' is of type 'object'. Consider converting it to the appropriate data type.")

Current Data Types:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object
Column 'Customer' is of type 'object'. Consider converting it to the appropriate data type.
Column 'ST' is of type 'object'. Consider converting it to the appropriate data type.
Column 'GENDER' is of type 'object'. Consider converting it to the appropriate data type.
Column 'Education' is of type 'object'. Consider converting it to the appropriate data type.
Column 'Customer Lifetime Value' is of type 'object'. Consider converting it to the appropriate data type.
Column 'Number of Open Complaints' is of type 'object'. Consider converting it to the appropriate data type.
Column 'Policy Type' is of type 'object'. Consider converting it to the appropriate data type.
Column 'Vehicle Class' is of type 'object'. Consider converting it to the appropriate data type.

In [12]:
unique_value_counts = df.nunique()

# 2. Determine which columns appear to be categorical (threshold set to 10 unique values)
categorical_columns = []
for column, unique_count in unique_value_counts.items():
    if unique_count <= 10:
        categorical_columns.append(column)

# 3. Describe unique values of each categorical column
for column in categorical_columns:
    print('Unique values in "{}": {}'.format(column, df[column].unique()))

# 4. Describe the range of values for numerical columns
numerical_columns = df.columns.difference(categorical_columns)
numerical_summary = df[numerical_columns].describe()
print("Summary Statistics for Numerical Columns:")
print(numerical_summary)

# 5. Provide insights 
print("Insights:")
print("1. Categorical Columns:", categorical_columns)
print("2. Numerical Columns:", numerical_columns)
print("3. Number of rows:", df.shape[0])
print("4. Number of columns:", df.shape[1])

Unique values in "ST": ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values in "GENDER": [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values in "Education": ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values in "Number of Open Complaints": ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values in "Policy Type": ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values in "Vehicle Class": ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Summary Statistics for Numerical Columns:
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Insights:
1. Categorical Columns: ['ST', 'GENDER', 'Education', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']
2. Numerical Columns: Index(['Customer', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Total Claim Amount'],
      dtype='object')
3. Number of rows: 4008
4. Number of columns: 11

In [13]:
# 1. Compute summary statistics for numerical columns
numerical_summary = df.describe()

# 2. Compute the mode for each numerical column
mode_values = df.mode().iloc[0]

# 3. Print the summary statistics and mode for each numerical column
print("Summary Statistics for Numerical Columns:")
print(numerical_summary)

print("Mode for Numerical Columns:")
print(mode_values)

# 4. Provide your conclusions based on the summary statistics
print("Conclusions:")
for column in numerical_summary.columns:
    mean = numerical_summary[column]['mean']
    median = numerical_summary[column]['50%']  # 50% is the median
    std_dev = numerical_summary[column]['std']
    quartiles = [numerical_summary[column]['25%'], median, numerical_summary[column]['75%']]

    print(column + ":")
    print("  Mean: " + str(mean))
    print("  Median: " + str(median))
    print("  Standard Deviation: " + str(std_dev))
    print("  Quartiles (25%, 50%, 75%): " + str(quartiles))

Summary Statistics for Numerical Columns:
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Mode for Numerical Columns:
Customer                           AA71604
ST                                  Oregon
GENDER                                   F
Education                         Bachelor
Customer Lifetime Value         251459.20%
Income                                 0.0
Monthly Premium Auto                  65.0
Number of Open Complaints           1/0/00
Policy Type                  Personal Auto
Vehicle Class                Four-Door Car
Total Claim Amount                   321.6
Name: 0, dtype: object
Conclusions:
Income:
  Mean: 39295.70121381886
  Median: 36234.0
  Standard Deviation: 30469.42706040185
  Quartiles (25%, 50%, 75%): [14072.0, 36234.0, 64631.0]
Monthly Premium Auto:
  Mean: 193.234360410831
  Median: 83.0
  Standard Deviation: 1601.190368577621
  Quartiles (25%, 50%, 75%): [68.0, 83.0, 109.5]
Total Claim Amount:
  Mean: 404.98690940896364
  Median: 354.729129
  Standard Deviation: 293.0272599264041
  Quartiles (25%, 50%, 75%): [202.157702, 354.729129, 532.8]

In [17]:
# 1. Compute summary statistics for categorical columns
categorical_summary = df.describe(include='all')

# 2. Print the summary statistics for categorical columns
print("Summary Statistics for Categorical Columns:")
print(categorical_summary)

# 3. Provide your conclusions based on the summary statistics
print("Conclusions:")
for column in categorical_summary.columns:
    count = categorical_summary[column]['count']
    unique_count = categorical_summary[column]['unique']
    mode = categorical_summary[column]['top']
    mode_freq = categorical_summary[column]['freq']

    print(column + ":")
    print("  Count: " + str(count))
    print("  Unique Values: " + str(unique_count))
    print("  Most Frequent Value: " + str(mode))
    print("  Frequency of Most Frequent Value: " + str(mode_freq))

Summary Statistics for Categorical Columns:
       Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4
mean        NaN     NaN    NaN       NaN                     NaN
std         NaN     NaN    NaN       NaN                     NaN
min         NaN     NaN    NaN       NaN                     NaN
25%         NaN     NaN    NaN       NaN                     NaN
50%         NaN     NaN    NaN       NaN                     NaN
75%         NaN     NaN    NaN       NaN                     NaN
max         NaN     NaN    NaN       NaN                     NaN

              Income  Monthly Premium Auto Number of Open Complaints  \
count    1071.000000           1071.000000                      1071
unique           NaN                   NaN                         6
top              NaN                   NaN                    1/0/00
freq             NaN                   NaN                       830
mean    39295.701214            193.234360                       NaN
std     30469.427060           1601.190369                       NaN
min         0.000000             61.000000                       NaN
25%     14072.000000             68.000000                       NaN
50%     36234.000000             83.000000                       NaN
75%     64631.000000            109.500000                       NaN
max     99960.000000          35354.000000                       NaN

          Policy Type  Vehicle Class  Total Claim Amount
count            1071           1071         1071.000000
unique              3              6                 NaN
top     Personal Auto  Four-Door Car                 NaN
freq              780            576                 NaN
mean              NaN            NaN          404.986909
std               NaN            NaN          293.027260
min               NaN            NaN            0.382107
25%               NaN            NaN          202.157702
50%               NaN            NaN          354.729129
75%               NaN            NaN          532.800000
max               NaN            NaN         2893.239678
Conclusions:
Customer:
  Count: 1071
  Unique Values: 1071
  Most Frequent Value: RB50392
  Frequency of Most Frequent Value: 1
ST:
  Count: 1071
  Unique Values: 8
  Most Frequent Value: Oregon
  Frequency of Most Frequent Value: 320
GENDER:
  Count: 954
  Unique Values: 5
  Most Frequent Value: F
  Frequency of Most Frequent Value: 457
Education:
  Count: 1071
  Unique Values: 6
  Most Frequent Value: Bachelor
  Frequency of Most Frequent Value: 324
Customer Lifetime Value:
  Count: 1068
  Unique Values: 1027
  Most Frequent Value: 445811.34%
  Frequency of Most Frequent Value: 4
Income:
  Count: 1071.0
  Unique Values: nan
  Most Frequent Value: nan
  Frequency of Most Frequent Value: nan
Monthly Premium Auto:
  Count: 1071.0
  Unique Values: nan
  Most Frequent Value: nan
  Frequency of Most Frequent Value: nan
Number of Open Complaints:
  Count: 1071
  Unique Values: 6
  Most Frequent Value: 1/0/00
  Frequency of Most Frequent Value: 830
Policy Type:
  Count: 1071
  Unique Values: 3
  Most Frequent Value: Personal Auto
  Frequency of Most Frequent Value: 780
Vehicle Class:
  Count: 1071
  Unique Values: 6
  Most Frequent Value: Four-Door Car
  Frequency of Most Frequent Value: 576
Total Claim Amount:
  Count: 1071.0
  Unique Values: nan
  Most Frequent Value: nan
  Frequency of Most Frequent Value: nan

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [18]:
# Your code here
location_counts = df['ST'].value_counts()

# 2. Sort the Series in ascending order (less common locations first)
sorted_location_counts = location_counts.sort_values(ascending=True)

# 3. Retrieve the top 5 less common locations
top_5_less_common = sorted_location_counts.head(5)

# 4. Print the top 5 less common locations and their frequencies
print("Top 5 Less Common Customer Locations (in ascending order):")
print(top_5_less_common)

Top 5 Less Common Customer Locations (in ascending order):
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [19]:
# Your code here
# 1. Create a Pandas Series with policy types and their counts
policy_counts = df['Policy Type'].value_counts()

# 2. Retrieve the policy type with the highest number of policies sold
most_sold_policy_type = policy_counts.idxmax()

# 3. Print the policy types and their counts
print("Policy Types and Their Total Number of Policies Sold:")
print(policy_counts)

# 4. Print the policy type with the highest number of policies sold
print("Policy Type with the Highest Number of Policies Sold:")
print(most_sold_policy_type)

Policy Types and Their Total Number of Policies Sold:
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
Policy Type with the Highest Number of Policies Sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [21]:
# Your code here
personal_auto_df = df.loc[df["Policy Type"]== "Personal Auto"]
corporate_auto_df = df.loc[df["Policy Type"]== "Corporate Auto"]
# 2. Calculate the average income for each policy type
average_income_personal_auto = personal_auto_df['Income'].mean()
average_income_corporate_auto = corporate_auto_df['Income'].mean()

# 3. Print the results
print("Average Income for Personal Auto Policies:", average_income_personal_auto)
print("Average Income for Corporate Auto Policies:", average_income_corporate_auto)

Average Income for Personal Auto Policies: 38180.69871794872
Average Income for Corporate Auto Policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here